.tables-container{
    display: flex;
    justify-content: space-between;
}

.tables-container>div>h3{
    text-align: center;
    margin: 1rem;
}

.table {
    margin:auto 0 100px;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.table__header {
    background-color: #000000;
    color: #fff;
}

.table__header>tr>th {
    padding: 10px;
    font-size: 20px;
}

