form {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}

form .form-control {
    margin: 5px 15px;
    width: calc(50% - 30px);
}

form .form-control {
    display: flex;
    flex-direction: column;
}

form .form-control label {
    text-align: left;
}

form .form-control input {
    padding: 5px;
}

form .form-control button {
    width: 40%;
    padding: 5px 15px;
}